@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
navbar {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222222;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
}

navbar a {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-decoration: none !important;
}

navbar a:hover {
  color: #0099ff;
}

.wrapper {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
}

.products {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.products .filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.products .filter input[type="text"],
.products .filter select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  color: #222222;
}

.products .filter input[type="text"]::placeholder,
.products .filter select::placeholder {
  color: #999;
}

.products .filter input[type="text"]:focus,
.products .filter select:focus {
  outline: 1px solid #0099ff;
}

.products .filter .category .dropdown {
  position: relative;
  display: inline-block;
  font-size: 15px;
}

.products .filter .category .dropdown input[type="checkbox"] {
  cursor: pointer;
}

.products .filter .category .dropdown .dropdown-toggle {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}

.products .filter .category .dropdown .dropdown-toggle span {
  margin-right: 10px;
}

.products .filter .category .dropdown .dropdown-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #999 transparent transparent transparent;
  margin-left: 5px;
  vertical-align: middle;
}

.products .filter .category .dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.products .filter .category .dropdown .dropdown-menu.show {
  display: block;
  width: 200px;
  font-size: 14px;
}

.products .filter .category .dropdown .dropdown-item {
  display: block;
  padding: 6px;
  cursor: pointer;
  user-select: none;
}

.products .filter .category .dropdown .dropdown-item:hover {
  background-color: #e0e0e0;
}

.products .product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.products .product .p_item {
  margin-bottom: 20px;
  width: 400px;
  height: auto;
  border: 1px solid #0099ff;
  border-radius: 10px;
  overflow: hidden;
}

.products .product .p_item .header {
  margin-right: 20px;
  height: 200px;
  width: 400px;
  object-fit: cover;
}

.products .product .p_item .header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products .product .p_item .content {
  padding: 10px;
}

.products .product .p_item .content .dname {
  font-size: 12px;
  text-transform: capitalize;
}

.products .product .p_item .content .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
  color: #222222;
}

.products .product .p_item .content .description {
  color: #222222;
  margin-bottom: 10px;
  margin-top: 0;
}

.products .product .p_item .content .price {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #0099ff;
}

.products .product .p_item .content .category {
  margin-top: 4px;
}

.products .product .p_item .content .category span {
  display: inline-block;
  background-color: #0099ff;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.products .product .p_item .content .actions {
  display: flex;
  width: 170px;
  margin: 0 auto;
}

.products .product .p_item .content .actions button {
  padding: 8px 16px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.products .product .p_item .content .actions button:hover {
  background-color: #007acc;
}

.products .product .p_item .content .actions .delete {
  background-color: red;
}

.products .product .p_item .content .actions .delete:hover {
  background-color: #cc0000;
}

.manageProduct {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 8px;
  padding: 20px;
}

.manageProduct .product-store {
  width: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.manageProduct .product-store .content {
  padding: 20px;
}

.manageProduct .product-store h3 {
  background-color: #222222;
  padding: 20px;
  color: #fff;
  text-align: center;
  margin: 0;
}

.manageProduct .product-store .f_item {
  margin-top: 20px;
}

.manageProduct .product-store .f_item:first-child {
  margin: 0;
}

.manageProduct .product-store .f_item label {
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  padding-bottom: 5px;
}

.manageProduct .product-store .categoryChoose {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}

.manageProduct .product-store .categorySelected {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-right: 22px;
  align-items: center;
}

.manageProduct .product-store .categorySelected div {
  position: relative;
  display: inline-block;
  background-color: #0099ff;
  padding: 10px;
  margin: 10px 0;
}

.manageProduct .product-store .categorySelected div .delete {
  position: absolute;
  color: red;
  border-radius: 3px;
  padding: 2px;
  font-weight: 600;
  font-size: 20px;
  top: -3px;
  right: -22px;
  cursor: pointer;
}

.manageProduct .product-store .categorySelected div .delete:hover {
  color: #b30000;
}

.manageProduct .product-store .file-selected {
  display: inline-block;
  background-color: #0099ff;
  padding: 10px;
  margin-top: 10px;
}

.manageProduct .product-store input[type="text"],
.manageProduct .product-store input[type="number"],
.manageProduct .product-store select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff;
  color: #222222;
}

.manageProduct .product-store input[type="text"]::placeholder,
.manageProduct .product-store input[type="number"]::placeholder,
.manageProduct .product-store select::placeholder {
  color: #999;
}

.manageProduct .product-store input[type="text"]:focus,
.manageProduct .product-store input[type="number"]:focus,
.manageProduct .product-store select:focus {
  outline: 1px solid #0099ff;
}

.manageProduct .product-store .file-upload {
  position: relative;
}

.manageProduct .product-store .file-label {
  display: inline-block;
  background-color: #e9e9e9;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.manageProduct .product-store .file-text {
  font-size: 16px;
  color: #555555;
}

.manageProduct .product-store .file-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #3498db;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 10px;
}

.manageProduct .product-store .file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.manageProduct .product-store button,
.manageProduct .product-store btn {
  padding: 8px 16px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.manageProduct .product-store button:hover,
.manageProduct .product-store btn:hover {
  background-color: #007acc;
}

.success-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #0099ff;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}

.success-popup.show {
  opacity: 1;
}

.success-popup.hide {
  opacity: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
